<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Wikipedia Viewer</title>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
    <link rel="stylesheet" href="styles/wikiviewer.css">
  </head>
  <body ng-app="wikipediaViewer" ng-controller="SearchController">

    <h1>Search Wikipedia</h1>
    <form ng-submit="search(keyword)">
      <div class="search-bar input-group input-group-lg auto-margin">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1" ng-model="keyword">
      </div> <!-- /.search-bar -->
      <div class="auto-margin" id="random-search">
        <button class="btn btn-default" type="button" ng-click="randomArticle()">Show me a random article</button>
      </div>
    </form>

    <div id="article" ng-repeat="article in articles">
      <div class="thumbnail">
        <div class="caption">
          <a ng-href="{{article.url}}" target="_blank"><h3>{{article.title}}</h3></a>
          <p ng-bind-html="article.snippet"></p>
          <p><a ng-href="{{article.url}}" class="btn btn-primary" role="button" target="_blank">Continue reading...</a></p>
        </div> <!-- /.caption -->
      </div> <!-- /.thumbnail -->
    </div> <!-- /#article -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="scripts/wikiviewer.js"></script>
  </body>
</html>
